.UpgradeItem{
    transition: .3s;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 0;

    &:hover{
        cursor: pointer;
        background-color: #e6e6e6;
    }

    >* {
        flex: 0 0 50%;
        margin: 0;
    }

    >.basicInfo >*{
        display: block;
    }
}